@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
  color: white
}



:root {
  --primary: #a1a1aa;
}

svg {
  height: 46px;
}

button {
  border-width: 1px;
}

button:focus-visible {
  outline: 0;
}

.flex-col {
  gap: 20px;
}

main a#title { 
  font-size: 1.5rem
}




input[type="range"] { 
  padding-inline: 0px;
  /*appearance: none;*/
}

input[type="range"]:focus-visible { 
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  display: block;
  background-color: var(--primary);
  opacity: 0;
}

input[type="range"]::-webkit-slider-thumb:hover {
  opacity: 1;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  display: block;
  background-color: var(--primary);
  opacity: 0;
  /*transform: scale(0.7);*/
}

input[type="range"]::-moz-range-thumb :hover {
  opacity: 1;
}

/*
input[type="range"]::-ms-thumb {
  appearance: none;
  background-color: var(--primary);
  opacity: 0;
  width: 5px;
  height: 5px;
}

input[type="range"]::-ms-thumb:hover {
  opacity: 1;
}

#title { 
  /* .25 = 4px 
  font-size: 1rem;
  line-height: 1.5rem;
}

*/




@media only screen and (max-height: 200px) {
  input[type="range"] {
      height: 4px; 
  }

  input[type="range"]::-webkit-slider-thumb {
      transform: scale(0.7);
  }

  input[type="range"]::-moz-range-thumb {
      transform: scale(0.7);
  }

  .flex-col {
      gap: 12px
  }
}
